.page-content{
  padding-left: 15px;
  padding-right: 15px;
}
.page-content h1, h2{
  text-align: center;
  color: #666666;
}
img{
  max-width: 100%;
  height:auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.page-content{
  background-color: #F0F0F0;
}
